{% extends 'navbar.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div id="green_panel" class="col-md-12 card-box">
            <div class="col-md-12">
                <h4 class="m-t-0 header-title"><b>Solar Panels Information</b><b class="pull-right">30 April 2017, 10:50</b> </h4>
                <hr>
            </div>
            <div class="col-md-3 text-center">
                <img src="{% static 'main/assets/images/solar-panels.png' %}" class="img-responsive img-circle" style="max-width: 60%;margin: 0 auto;">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="widget-bg-color-icon card-box">
                    <div class="bg-icon bg-icon-info pull-left">
                        <i class="fa fa-bolt text-info"></i>
                    </div>
                    <div class="text-right">
                        <h3 class="text-dark"><b>3.2 kW</b></h3>
                        <p class="text-muted">Power</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="widget-bg-color-icon card-box">
                    <div class="bg-icon bg-icon-danger pull-left">
                        <i class="wi wi-celsius text-danger"></i>
                    </div>
                    <div class="text-right">
                        <h3 class="text-dark"><b>19</b></h3>
                        <p class="text-muted">Air Temperature</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="widget-bg-color-icon card-box">
                    <div class="bg-icon bg-icon-purple pull-left">
                        <i class="fa fa-clock-o text-purple"></i>
                    </div>
                    <div class="text-right">
                        <h3 class="text-dark"><b>4.5 h</b></h3>
                        <p class="text-muted">Powered on since</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="widget-bg-color-icon card-box">
                    <div class="bg-icon bg-icon-info pull-left">
                        <i class="fa fa-battery-3 text-info"></i>
                    </div>
                    <div class="text-right">
                        <h3 class="text-dark"><b>73 %</b></h3>
                        <p class="text-muted">Charged Battery</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="widget-bg-color-icon card-box">
                    <div class="bg-icon bg-icon-danger pull-left">
                        <i class="fa fa-plug text-danger"></i>
                    </div>
                    <div class="text-right">
                        <h3 class="text-dark"><b>7.7 kWh</b></h3>
                        <p class="text-muted">Energy Consumption</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="widget-bg-color-icon card-box">
                    <div class="bg-icon bg-icon-purple pull-left">
                        <i class="wi wi-sunrise text-purple"></i>
                    </div>
                    <div class="text-right">
                        <h3 class="text-dark"><b>6.2 h</b></h3>
                        <p class="text-muted">Until Sunset</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-3">
                <p class="font-600">Personal Necessities<span class="text-pink pull-right">30%</span></p>
                <div class="progress m-b-30">
                  <div class="progress-bar progress-bar-purple progress-animated wow animated" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                  </div><!-- /.progress-bar .progress-bar-pink -->
                </div><!-- /.progress .no-rounded -->

                <p class="font-600">Electronic Devices<span class="text-info pull-right">20%</span></p>
                <div class="progress m-b-30">
                  <div class="progress-bar progress-bar-danger progress-animated wow animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                  </div><!-- /.progress-bar .progress-bar-info -->
                </div>
                <p class="font-600">Lightning<span class="text-warning pull-right">5%</span></p>
                <div class="progress m-b-30">
                  <div class="progress-bar progress-bar-info progress-animated wow animated" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
                  </div><!-- /.progress-bar .progress-bar-warning -->
                </div><!-- /.progress .no-rounded -->

                <p class="font-600">Laboratory<span class="text-success pull-right">45%</span></p>
                <div class="progress m-b-30">
                  <div class="progress-bar progress-bar-success progress-animated wow animated" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                  </div><!-- /.progress-bar .progress-bar-success -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="card-box">
                    <h4 class="text-dark  header-title m-t-0 m-b-30">Energy Level Over time</h4>

                    <div class="widget-chart text-center">
                        <div id="sparkline5" class="text-center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block myscripts %}
{% endblock %}