<!DOCTYPE html>
<html>
    {% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="{% static 'main/assets/images/favicon_1.ico' %}">

        <title>Heliox</title>

        <!--Morris Chart CSS -->

        <link href="{% static 'main/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/assets/css/core.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/assets/css/components.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/assets/css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/assets/css/pages.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/assets/css/menu.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/assets/css/responsive.css' %}" rel="stylesheet" type="text/css" />

        <link href="{% static 'main/assets/plugins/radial/radial.css' %}" rel="stylesheet">

        <link href="{% static 'main/assets/plugins/owl.carousel/dist/assets/owl.carousel.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'main/assets/plugins/owl.carousel/dist/assets/owl.theme.default.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="{% static 'main/assets/js/modernizr.min.js' %}"></script>
    </head>


    <body>

      <header id="topnav">

          <div class="navbar-custom">
                <div class="container">
                     <div class="topbar-main">

                    <!-- Logo container-->
                    <div class="logo">
                        <a href="{% url 'index' %}"><img class="logo" style="width: 170px;" src="{% static 'main/assets/images/helioxlogo.png' %}"></a>
                    </div>
                    <!-- End Logo container-->


                    <div class="menu-extras">
                        <ul class="nav navbar-nav navbar-right pull-right">
                            <li class="navbar-c-items">
                                <form role="form" class="navbar-left app-search pull-left hidden-xs" action="{% url 'index' %}">
                                    <button class="btn btn-purple btn-custom">Dashboard</button>
                                </form>
                            </li>
                            <li class="navbar-c-items">
                                <form role="form" class="navbar-left app-search pull-left hidden-xs" action="{% url 'tasks' %}">
                                    <button class="btn btn-purple btn-custom">Tasks</button>
                                </form>
                            </li>
                            <li class="navbar-c-items">
                                <form role="form" class="navbar-left app-search pull-left hidden-xs" action="{% url 'logout' %}">
                                    <button type="submit" class="btn btn-danger btn-custom waves-effect waves-light">Log Out</button>
                                </form>
                            </li>
                        </ul>

                        <div class="menu-item">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </header>
        <!-- End Navigation Bar-->
      <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2 card-box text-center">
                            <span class="label label-primary">Personal Necessities</span>
                            <hr>
                            <div class="owl-carousel owl-theme" id="owl1">
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/1.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/2.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/3.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/4.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/5.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/6.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/7.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/8.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/9.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/10.jpg' %}" />
                                </div>
                            </div>
                            <br>
                            <span class="label label-success">Electronic Devices</span>
                            <hr>
                            <div class="owl-carousel owl-theme" id="owl2">
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/1.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/2.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/3.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/4.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/5.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/6.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/7.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/8.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/9.jpg' %}" />
                                </div>
                                <div class="item">
                                    <img src="{% static 'main/assets/images/gallery/10.jpg' %}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="card-box table-responsive">
                                <h4 class="m-t-0 header-title"><b>Daily Tasks</b></h4>
                                    <button class="btn btn-primary btn-custom waves-effect waves-light"><i class="fa fa-plus"> Add new task</i></button>
                                    <div class="col-md-4 pull-right">
                                        <div class="progress progress-lg m-b-5">
                                            <span class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100" style="width: 69%;">
                                                4.7 out of expected 6.8 kW planned
                                            </span>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <script src="{% static 'main/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'main/assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'main/assets/js/detect.js'%}"></script>
        <script src="{% static 'main/assets/js/fastclick.js' %}"></script>
        <script src="{% static 'main/assets/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'main/assets/js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'main/assets/js/waves.js' %}"></script>
        <script src="{% static 'main/assets/js/wow.min.js' %}"></script>
        <script src="{% static 'main/assets/js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'main/assets/js/jquery.scrollTo.min.js' %}"></script>
        <script src="{% static 'main/assets/js/jquery.core.js' %}"></script>
        <script src="{% static 'main/assets/js/jquery.app.js' %}"></script>

        <script src="{% static 'main/assets/plugins/owl.carousel/dist/owl.carousel.min.js' %}"></script>

        <script type="text/javascript">
            $('.owl-carousel').owlCarousel({
                items: 1,
                mouseDrag: true,
                loop:true,
                margin:1,
                nav:true,
                dots: false
            });
        </script>

    </body>
</html>